@import "bootstrap/scss/functions";
// Required
@import "bootstrap/scss/variables";
// Required
@import "bootstrap/scss/mixins"; // Required
img {
  max-width: 100%;
  height: auto
}

a {
  transition: color 0.3s ease, background-color 0.3s ease;
}

h2 {
  position: relative;
  font-weight: 400;
  color: #999999;
  padding-left: .8rem;
  margin-bottom: 1.5rem;

  &:before {
    content: "";
    height: 120%;
    width: 1px;
    border: 1px solid $link-color;
    position: absolute;
    left: 0;
    top: 0;
    margin: auto;
    bottom: 0;
  }
}

header {
  padding: 1.5rem 1rem;
  text-align: center;
  border-bottom: 2px solid $link-color;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 3rem 1rem;
  background-image: url("../images/Kazakhtan_LandingPage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  position: relative;
  padding: 3rem 1rem;
  background-color: rgba(13, 31, 34, 0.8);
  max-width: 480px;
  margin: auto;

  a {
    display: block;
  }

  p {
    margin-bottom: 2rem;
  }
}

.locale {
  position: absolute;
  top: 1rem;
  right: 1rem;

  > a {
    display: inline-block;
    margin-left: 10px;

  }

  img {
    width: 20px;
  }
}


.link {
  margin-bottom: 4.6rem;
}

.btn {
  width: 100%;
  border: 1px solid #FFFFFF;
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
  font-weight: 300;
  padding: 4px 1rem;

  &:hover {
    color: #0d1f22;
    background-color: #fff;
    border-color: #fff;
  }
}

@include media-breakpoint-up(md) {
  .hero {
    padding: 2.75rem 1.8rem 3.5rem 1.8rem;
    margin-left: auto;
    margin-right: 15%;
    height: 480px;

    .wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  .link {
    margin-bottom: 2rem;
  }
  .btn {
    margin-top: auto;
  }
}


@include media-breakpoint-up(lg) {
  header {
    padding: 2.75rem 1rem;
  }
}
